:root {
    --menu-text: #4a4a4a;
    --brand-color: #3CDBC0;
    --white: #FFFFFF;
}
.header {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}
.logo {
    margin: 10px 0px;
}
.nav {
    margin-bottom: 13px;
}
.span {
    color: var(--menu-text);
    margin: 0px 10px;
    font-size: 1rem;
    text-align: center;
}
.links {
    text-decoration: none;
    color: var(--menu-text);
}
.links:hover {
    color: var(--brand-color);
}
.main {
    height: 100vh; /*Aumentando este valor se aprecia que el header está fijo*/
    background-color: var(--brand-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.main-title {
    width: 200px;
    margin: auto;
    color: var(--white);
    text-align: center;
    font-size: 1.875rem;
}

@media all and (min-width: 768px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 30px;
    }
    .logo {
        margin: 20px 0px;
    }
    .main-title {
        font-size: 2.5rem;
    }
    .nav {
        margin-bottom: 0;
    }
}